
<html>
  <head>
    <link rel="stylesheet" href='/static/style.css' />
    <script type="text/javascript" src="/static/index.js"></script>
  </head>

  <body><center>
    <div> <!-- Found out how to add boxes at: http://www.thesitewizard.com/css/rectangular-box-border.shtml -->
      <h1>Hello there. My name is Eve.</h1>
      <div>
        Port 1:
        <select id="setup1">
          <option value="">None</option>
        </select>

        Port 2:
        <select id="setup2">
          <option value="">None</option>
        </select>
      
        Port 3:
        <select id="setup3">
          <option value="">None</option>
        </select>
      
        Port 4:
        <select id="setup4">
          <option value="">None</option>
        </select>
      </div>

      <button onclick="addTrigger(1)">Add Trigger to Port 1</button>
      <button onclick="addTrigger(2)">Add Trigger to Port 2</button>
      <button onclick="addTrigger(3)">Add Trigger to Port 3</button>
      <button onclick="addTrigger(4)">Add Trigger to Port 4</button>
      <button onclick="run()">Run</button>
    </div>
    <div id="main"></div>


  </body>
</html>
